.bg-form{
    -fx-background-color: linear-gradient(to bottom right, #0d9642, #1a722c);
}

.header{
    -fx-border-color: linear-gradient(to bottom right, #0dbb78, #029d6f);
    -fx-border-width: 0 0 0 3px;
    -fx-padding: 0 0 0 5px;
    -fx-font-size: 20px;
}

.textfield{
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 25px;
    -fx-border-color: linear-gradient(to bottom right, #0abfa4, #00d079);
    -fx-border-width: .8px;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
    
}
.textfield:focused{
    -fx-background-color: #fff;
    -fx-text-fill: #000;
    -fx-border-width: 1px;
}
.hyperlink{
	-fx-underline: false;
}
.hyperlink:hover{
	-fx-underline: false;
}
.btn{
    -fx-background-color: linear-gradient(to bottom right, #0abfa4, #00d079);
    -fx-font-family: Arial;
    -fx-font-size: 14px;
    -fx-cursor: hand;
}
.btn:hover{
    -fx-background-color: #fff;
}